<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ly.picture_selector">

    <application android:theme="@style/AppTheme">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>
